# Python / Entornos virtuales
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code / Editores
.vscode/
.idea/

# Sistema Operativo
.DS_Store
Thumbs.db
__marimo__/

# Streamlit
.streamlit/secrets.toml
